@keyframes firework {
    0% {
        width: 0.5vmin;
        opacity: 1;
    }
    100% {
        width: 45vmin;
        opacity: 0;
    }
}

.firework,
.firework::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        /* random backgrounds */
            radial-gradient(circle, #ffa600 0.2vmin, #0000 0) 50% 00%,
    radial-gradient(circle, #22ff00 0.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, #00fff7 0.5vmin, #0000 0) 50% 99%,
    radial-gradient(circle, #ff4d00 0.2vmin, #0000 0) 99% 50%,
    radial-gradient(circle, #0095ff 0.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, #ee00ff 0.5vmin, #0000 0) 95% 90%,
    radial-gradient(circle, #00b2ff 0.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, #5e00ff 0.2vmin, #0000 0) 31% 80%,
    radial-gradient(circle, #ffcc00 0.3vmin, #0000 0) 80% 10%,
    radial-gradient(circle, #ff9100 0.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, #ff0000 0.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, #00ffbb 0.5vmin, #0000 0) 13% 24%;
    background-size: 1vmin 1vmin;
    background-repeat: no-repeat;
    animation: firework 1.2s normal;
}

/*.firework::before {*/
/*    transform: translate(-50%, -50%) rotate(25deg) !important;*/
/*}*/

/*.firework::after {*/
/*    transform: translate(-50%, -50%) rotate(-37deg) !important;*/
/*}*/